[manifest]
version = "1.0.0"
dump_lua = true
priority = 10

# (Re-)Calculate 50% mark
[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = "if G.FORCE_BOSS then return G.FORCE_BOSS end"
position = "after"
payload = '''
local buf_halfstep = nil
if G.GAME.modifiers and G.GAME.modifiers.buf_halfstep_bosses
and not ((G.GAME.round_resets.ante)%G.GAME.win_ante == 0)
then buf_halfstep = math.floor(G.GAME.win_ante * 0.5 + 0.5) end
'''
match_indent = true

# Get all Showdowns for 50% mark (kinda respecting "in_pool"?)
[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''elseif v.in_pool and type(v.in_pool) == 'function' then'''
position = "after"
payload = '''
if buf_halfstep and (G.GAME.round_resets.ante)%buf_halfstep == 0 and G.GAME.round_resets.ante >= 2 then
	if v.boss.showdown then eligible_bosses[k] = res and true or nil end
else
'''
match_indent = true

# Get all Showdowns for 50% mark
[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''elseif not v.boss.showdown and (v.boss.min <= math.max(1, G.GAME.round_resets.ante) and ((math.max(1, G.GAME.round_resets.ante))%G.GAME.win_ante ~= 0 or G.GAME.round_resets.ante < 2)) then'''
position = "before"
payload = '''
end
elseif buf_halfstep and (G.GAME.round_resets.ante)%buf_halfstep == 0 and G.GAME.round_resets.ante >= 2 then
	if v.boss.showdown then eligible_bosses[k] = res and true or nil end
'''
match_indent = true
