[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

# Prevent Laidback Joker being bought with only 1 space left
[[patches]]
[patches.pattern]
target = "functions/button_callbacks.lua"
pattern = "G.FUNCS.check_for_buy_space = function(card)"
position = "after"
payload = '''
if card.ability.name == 'Laidback Joker' and not (#G.jokers.cards < (G.jokers.config.card_limit - 1) + ((card.edition and card.edition.negative) and 1 or 0)) then
  alert_no_space(card, card.ability.consumeable and G.consumeables or G.jokers)
  return false
end
'''
match_indent = true

# Adoring Fan/Bitter Ex-Fan negative cost
[[patches]]
[patches.pattern]
target = 'card.lua'
pattern = 'if self.area and self.ability.couponed and (self.area == G.shop_jokers or self.area == G.shop_booster) then self.cost = 0 end'
position = 'after'
match_indent = true
payload = '''
if (self.config.center.key == 'j_buf_afan' or self.config.center.key == 'j_buf_afan_spc') and self.added_to_deck then
    self.sell_cost = self.ability.extra.cost + (self.ability.extra_value or 0)
end
'''

# Initialize Clown and Van global variables when booting up the game
[[patches]]
[patches.pattern]
target = 'game.lua'
pattern = 'function Game:start_run(args)'
position = 'before'
match_indent = true
payload = '''
clown_count = -1
van_count = 0
'''

# Reset Clown and Van global variables when starting a new run
[[patches]]
[patches.pattern]
target = 'game.lua'
pattern = 'function Game:start_run(args)'
position = 'after'
match_indent = true
payload = '''
clown_count = -1
van_count = 0
'''

# Restore clown/van previous state when continuing a run
[[patches]]
[patches.pattern]
target = 'game.lua'
pattern = '''
if saveTable then 
    check_for_unlock({type = 'continue_game'})
'''
position = 'after'
match_indent = true
payload = '''
local savedjokies = saveTable.cardAreas.jokers.cards
for i = 1, #savedjokies do
	if savedjokies[i].label == 'Clown' then
		clown_count = savedjokies[i].ability.extra.jokers
	elseif savedjokies[i].label == 'Van' then
		van_count = savedjokies[i].ability.extra.jokers
	end
end
'''

# Scale clown/van when adding jokers
[[patches]]
[patches.pattern]
target = 'cardarea.lua'
pattern = 'if self == G.jokers then'
position = 'after'
match_indent = true
payload = '''
local check = false
local vancheck = false
for i = 1, #G.jokers.cards do
	if G.jokers.cards[i].config.center.key == "j_buf_clown" then 
		check = true
		break
	elseif G.jokers.cards[i].config.center.key == "j_buf_van" then 
		vancheck = true
		break
	end
end
if check then
	clown_count = clown_count + 1
elseif vancheck then
	van_count = van_count + 1
end
'''

# Create Jeb Reborn when using a Black Hole and Jeb went boom this run
[[patches]]
[patches.pattern]
target = 'card.lua'
pattern = '''
for k, v in pairs(G.GAME.hands) do
	level_up_hand(self, k, true)
end
update_hand_text({sound = 'button', volume = 0.7, pitch = 1.1, delay = 0}, {mult = 0, chips = 0, handname = '', level = ''})
'''
position = 'after'
match_indent = true
payload = '''
if G.GAME.pool_flags.kerman_went_boom and not G.GAME.pool_flags.kerman_is_krakened then
	local _card = create_card('Joker', G.jokers, nil, nil, nil, nil, 'j_buf_kerman_spc')
	_card:add_to_deck()
	G.jokers:emplace(_card)
	_card:start_materialize()
	G.GAME.joker_buffer = 0
	SMODS.calculate_effect({message = localize('buf_krakened'), colour = G.C.PURPLE}, _card)
end
'''